/fk/bin
/fk/output
/fk/build64_release
/fk/build64_debug
/fk/routersvr/.vs
/fk/slience.opensdf
/fk/slience.sdf
/fk/slience.v12.suo
/fk/blade-bin
/fk/.SConstruct.lock
/fk/.sconsign.dblite
/fk/.vs
./.idea
./cmake-build-debug
/fk/excel/data
/fk/excel/proto
/fk/excel/.idea/
/fk/excel/*.pyc
/fk/excel/xls_translator.log
/fk/deploy/src/*.pyc
/fk/deploy/src/*.log
/fk/deploy/proto/*.pyc
/fk/dbtool/*.log
/fk/go/build/*
/fk/tool/protoc.ilk
/fk/tool/protoc.pdb

